# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesize

# Model specific
models_cache/
*.pth
*.pt
*.onnxmodels_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
.env
.DS_Store
